<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Real-time chat app with node.js, express.js and socket.io" />
    <meta name="keywords" content="chat, real-time, node.js, express.js, socket.io, js, css, html" />
    <meta name="author" content="Julio ZINGA, Jeason Reaguelle, Emmanuel Treppant" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="assets/img/logo-favico.png" type="image/jpg" sizes="32x32" />
    <link rel="apple-touch-icon" href="assets/img/logo-favico.png" type="image/jpg" sizes="32x32" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/client.css" type="text/css" />
    <title>Real-time Chat App | {{title}}</title>
</head>

<body>
     <main id="login">
            <div class="card">
                <div class="card-header"><h2>Join Us</h2></div>
                <div class="card-body">
                    <form class="form form--login" action="/chat" method="GET">
                        <div class="form-group">
                            <label for="username">Username*:</label>
                            <input class="form-control" type="text" id="username" name="username" 
                                placeholder="Type your username">
                        </div>
                        <div class="form-group">
                            <label for="room">Room*:</label>
                        <select class="form-control" name="room" id="room">
                            {{#each rooms}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="avatar">Avatar*:</label>
                        <select class="form-control" name="avatar" id="avatar">
                            {{#each avatars}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        </div>
                        <div class="form-group form-group--login">
                            <button class="btn btn-info" type="submit" 
                                    id="send-login" name="send-login">
                                <i class="fas fa-sign-in-alt"></i> Connect 
                            </button> 
                        </div>
                    </form>
                </div>
            </div> 
         </main>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="assets/js/client.js"></script>
</body>
</html>
